{% extends "base.html" %}
{% block title %}Edit Template{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Edit Template</h2>

  <form method="POST" enctype="multipart/form-data" id="templateForm">
    {{ form.hidden_tag() }}

    <div class="form-group mb-3">
        {{ form.template_name.label }}
        {{ form.template_name(class="form-control", value=template.title) }}
    </div>

    <div class="form-group mb-3">
        <label for="editor">Write your content:</label>
        <textarea id="editor" class="form-control" name="emailContent">{{ plain_text }}</textarea>
    </div>

    <input type="hidden" id="emailHtml" name="emailHtml" value="{{ template.content_html | safe }}">

    <div class="form-group mb-3">
        {{ form.file.label }}
        {% if template.file_path %}
            <p>Current File: {{ template.file_path }}</p>
        {% endif %}
        {{ form.file(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-success") }}
  </form>

  <div class="mt-4">
    <label class="form-label">Generated HTML Output</label>
    <div id="htmlOutput" class="border p-3 bg-light rounded"></div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
