{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
    <h2 class="mb-4 text-center text-primary">Register</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.username.label }} {{ form.username(class="form-control") }}
      {{ form.user_email.label }} {{ form.user_email(class="form-control") }}
      {{ form.user_password.label }} {{ form.user_password(class="form-control") }}

      {{ form.provider.label }} {{ form.provider(class="form-select") }}
      {{ form.acc_email.label }} {{ form.acc_email(class="form-control") }}
      {{ form.acc_password.label }} {{ form.acc_password(class="form-control") }}

      {{ form.submit(class="btn btn-success mt-3") }}
    </form>
    <p class="mt-3 text-center text-muted">Already have an account?
      <a href="{{ url_for('auth.login') }}">Login here</a>.
    </p>
  </div>
</div>
{% endblock %}
